@inject Maple2.AdminLTE.Uil.Services.Profile.ProfileManager ProfileManager
<!--header template content-->
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <style>
        html, body {
            font-size: 10px;
        }
    </style>
</head>
<body>
    <table cellpadding="0" cellspacing="0" style="width:100%;padding:10px 27px 0px 28px;">
        <tr>
            <td style="width:50%;text-align:left;">Page No:&nbsp;<span class="pageNumber"></span>&nbsp;of&nbsp;<span class="totalPages"></span></td>
            <td style="width:50%;text-align:right;background-color:antiquewhite;"><span class="text-align-right"><b>@ProfileManager.CurrentUser.UserName</b>&nbsp;printed&#64;: @string.Format("{0:dd-MM-yyyy hh:mm:ss}", DateTime.Now)</span></td>
        </tr>
    </table>
</body>
</html>
