@model Maple2.AdminLTE.Bel.M_Warehouse

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<script src="~/js/Areas/Master/Warehouse/Create.js"></script>
<div id="CreateData"
     data-wh-add-url="@Url.Action("Create","Warehouse", new { Area = "Master" })"
     data-viewbag-compcode="@ViewBag.CompCode">
</div>
<div class="modal-dialog modal-md">
    <div class="modal-content">

        <div class="modal-header">

            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><i class="glyphicon glyphicon-plus"></i> Add</h4>
        </div>

        <div class="box-body pad">

            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="WarehouseCode" class="control-label col-md-3"></label>
                    <div class="col-md-5">
                        <input asp-for="WarehouseCode" class="form-control input-sm text-code" />
                        <span asp-validation-for="WarehouseCode" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="WarehouseName" class="control-label col-md-3"></label>
                    <div class="col-md-9">
                        <input asp-for="WarehouseName" class="form-control input-sm" />
                        <span asp-validation-for="WarehouseName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="WarehouseDesc" class="control-label col-md-3"></label>
                    <div class="col-md-9">
                        <textarea asp-for="WarehouseDesc" class="form-control input-sm"></textarea>
                        <span asp-validation-for="WarehouseDesc" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="CompanyCode" class="control-label col-md-3"></label>
                    <div class="col-md-5">
                        <input asp-for="CompanyCode" class="form-control input-sm text-bold" style="width:160px;" placeholder="-- Please Select --" />
                        <span asp-validation-for="CompanyCode" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Is_Active" class="control-label col-md-3"></label>
                    <div class="col-md-9">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Is_Active" />
                            </label>
                        </div>
                        <span asp-validation-for="Is_Active" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="form-group">
                    <button type="button" id="btnSaveCreate" class="btn btn-save btn-sm"><span class="fa fa-save" aria-hidden="true"></span>&nbsp;Save</button>
                    &nbsp;
                    <button type="button" class="btn btn-cancel btn-sm" data-dismiss="modal"><span class="fa  fa-rotate-left" aria-hidden="true"></span>&nbsp;Cancel</button>
                </div>
            </div>


        </div>
    </div>
</div>
