@model Maple2.AdminLTE.Bel.M_ArrivalType

@{
    ViewData["Title"] = "Details";
    Layout = null;
}
<script src="~/js/Areas/Master/ArrivalType/Details.js"></script>
<div class="modal-dialog modal-md">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp; View</h4>
        </div>
        <br />
        <div class="box-body pad">

            <div class="form-horizontal">

                <div class="form-group">
                    <label asp-for="ArrivalTypeCode" class="control-label col-md-3"></label>
                    <div class="col-md-4">
                        <input asp-for="ArrivalTypeCode" class="form-control input-sm text-code" readonly="readonly" />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="ArrivalTypeName" class="control-label col-md-3"></label>
                    <div class="col-md-9">
                        <input asp-for="ArrivalTypeName" class="form-control input-sm" readonly="readonly" />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="ArrivalTypeDesc" class="control-label col-md-3"></label>
                    <div class="col-md-9">
                        <textarea asp-for="ArrivalTypeDesc" class="form-control input-sm" readonly="readonly"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="CompanyCode" class="control-label col-md-3"></label>
                    <div class="col-md-5">
                        <input asp-for="CompanyCode" class="form-control input-sm text-bold" readonly="readonly" />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Is_Active" class="control-label col-md-3"></label>
                    <div class="col-md-9">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Is_Active" />
                            </label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <div class="form-group">
                    <button type="button" class="btn btn-cancel btn-sm" data-dismiss="modal"><span class="fa  fa-rotate-left" aria-hidden="true"></span>&nbsp;Cancel</button>
                </div>
            </div>



        </div>
    </div>
</div>
