@model Maple2.AdminLTE.Bel.M_ArrivalType

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<script src="~/js/Areas/Master/ArrivalType/Edit.js"></script>
<div id="EditData"
     data-arrtype-edit-url="@Url.Action("Edit", "ArrivalType", new { Area = "Master" })"
     data-viewbag-compcode="@ViewBag.CompCode">
</div>
<div class="modal-dialog modal-md">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp; Edit</h4>
        </div>
        <br />
        <div class="box-body pad">

                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Id" type="hidden" />

                    <div class="form-group">
                        <label asp-for="ArrivalTypeCode" class="control-label col-md-3"></label>
                        <div class="col-md-4">
                            <input asp-for="ArrivalTypeCode" class="form-control input-sm text-code" />
                            <span asp-validation-for="ArrivalTypeCode" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="ArrivalTypeName" class="control-label col-md-3"></label>
                        <div class="col-md-9">
                            <input asp-for="ArrivalTypeName" class="form-control input-sm" />
                            <span asp-validation-for="ArrivalTypeName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="ArrivalTypeDesc" class="control-label col-md-3"></label>
                        <div class="col-md-9">
                            <textarea asp-for="ArrivalTypeDesc" class="form-control input-sm"></textarea>
                            <span asp-validation-for="ArrivalTypeDesc" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="CompanyCode" class="control-label col-md-3"></label>
                        <div class="col-md-5">
                            <input asp-for="CompanyCode" class="form-control input-sm text-bold" style="width:160px;" placeholder="-- Please Select --" />
                            <span asp-validation-for="CompanyCode" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Is_Active" class="control-label col-md-3"></label>
                        <div class="col-md-9">
                            <div class="checkbox">
                                <label>
                                    <input asp-for="Is_Active" />
                                </label>
                            </div>
                            <span asp-validation-for="Is_Active" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="button" id="btnSaveEdit" class="btn btn-save btn-sm"><span class="fa fa-save" aria-hidden="true"></span>&nbsp;Save</button>
                        &nbsp;
                        <button type="button" class="btn btn-cancel btn-sm" data-dismiss="modal"><span class="fa  fa-rotate-left" aria-hidden="true"></span>&nbsp;Cancel</button>
                    </div>
                </div>

        </div>
    </div>
</div>
