/* Write your CSS code. */
@media print {
    ::-webkit-scrollbar {
        display: none;
    }
}


.alert {
    position: fixed !important;
    bottom: 0px !important;
    right: 0px !important;
    z-index: 10000 !important;
}

/*th {
    border-top: 0.1em solid #dddddd !important;
    border-bottom: 0.1em solid #dddddd !important;
    border-right: 0.1em solid #dddddd !important;
}

th:first-child {
    border-left: 0.1em solid #dddddd !important;
}*/

table.dataTable {
    /*margin: 0 auto;*/
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
    clear: both;
    border-collapse: collapse;
    word-wrap: break-word;
    /*test by jack*/
    margin-bottom: 1px;
    border: 0.08em solid #dfdfdf;
    border-color: #dfdfdf;
    outline: 0;
}

/* Setting about input search on top of datatable.net */

div.dataTables_wrapper div.dataTables_filter input[type="search"] {
    display: inline-block;
    float: right;
    width: 350px;
}


div.Inline {
    display: inline !important;
}

div.dt-buttons {
    display: inline !important;
    
}

.btn-table {
    /*margin-top: 8px;*/
    height: 32px;
}


table.dataTable th {
    /*background-color: #F8F9F9;*/
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
    /* background: rgb(255,255,255);  /*Old browsers */
    /* background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);  /*FF3.6-15 */
    /* background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F7F7', endColorstr='#F7F7F7',GradientType=0 ); /* IE6-9 */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f6f6f6+0,f6f6f6+3 */
    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(top, #f9f9f9 0%, #f9f9f9 3%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f9f9f9 0%,#f9f9f9 3%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f9f9f9 0%,#f9f9f9 3%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}

/*table.dataTable tbody tr:nth-child(even):hover td {
    background-color: red !important;
}

table.dataTable tbody tr:nth-child(odd):hover td {
    background-color: blue !important;
}*/

table.dataTable thead > tr > th {
    height: 26px;
    white-space: nowrap;
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
    /*background-color: lightskyblue;*/
    font-size: 13px;
    font-family: sans-serif;
    /*border: 0.01em solid #dddddd !important;*/
    /*border: 0.05em solid #dfdfdf !important;
    border-color: #dfdfdf;*/
    border-width: 1px !important;
    border-color: #e7e7e7 !important;
}

table.dataTable tbody tr:hover td {
    background-color: #FAFCD1 !important;
}

table.dataTable tr.odd {
    background-color: white;
}

table.dataTable tr.even {
    background-color: #FBFCFC; 
}

table.dataTable tbody > tr > td {
    max-width: 180px;
    min-width: 20px;
    /*word-wrap: normal;
word-break: break-all;*/
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: small;
    /*border: 0.01em solid #dddddd !important;*/
    /*border: 0.01em solid #dfdfdf !important;
    border-color: #dfdfdf;*/
    border-width: 1px !important;
    border-color: #e7e7e7 !important;
    padding: 5px;
    height: 25px;
}



th.dt-header-center {
    text-align: center;
}

td.dt-left {
    text-align: left;
}

td.dt-bold-left {
    font-weight: bold;
    text-align: left;
}

td.dt-center {
    text-align: center;
}

td.dt-bold-center {
    font-weight: bold;
    text-align: center;
}

td.dt-right {
    text-align: right;
}

td.dt-bold-right {
    font-weight: bold;
    text-align: right;
}

td.boldColumn {
    font-weight: bold;
}

.content-wrapper,
.right-side {
    background-color: #ffffff;
}


/*.modal {
    position: absolute;
}*/

.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
}

.modal-dialog {
    margin-top: 0;
    margin-bottom: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-content {
    border-radius: 8px;
    border: 0.05em solid #dfdfdf !important;
    border-color: #dfdfdf;
}

/*.modal-dialog {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    max-width: none !important;
}

.modal-content {
    height: auto !important;
    min-height: 100% !important;
    border-radius: 0 !important;
    background-color: #ececec !important
}*/

.modal.fade {
    background: none;
}

.modal-header {
    /*
    border-radius: 8px 8px 0px 0px;
    color: black;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D
    background: #eeeeee; /* Old browsers
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6-15
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 
    */
    /*@Test by Jack*/
    border-radius: 8px 8px 0px 0px;
    background: #d2d2d2; /* Old browsers */
    background: -moz-linear-gradient(top, #d2d2d2 0%, #d2d2d2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d2d2d2 0%,#d2d2d2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d2d2d2 0%,#d2d2d2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2d2d2', endColorstr='#d2d2d2',GradientType=0 ); /* IE6-9 */
}

.modal-header-search {
    border-radius: 8px 8px 0px 0px;
    height: 38px !important;
    border-bottom: 1px solid #ccc !important;
    padding: 5px 10px 5px 5px;
}

.modal-footer {
    height: 50px !important;
}

.modal-footer-search {
    height: 38px !important;
}

.form-control.text-code {
    text-transform: uppercase;
    font-weight: bold;
}

.form-control.text-bold {
    font-weight: bold;
}

.form-control.text-upper {
    text-transform: uppercase;
}

.form-control.text-align-right {
    text-align: right;
}

.form-group {
    margin-bottom: 9px !important;
}

.form-horizontal .control-label.text-left {
    text-align: left !important;
}

.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline {
    padding-top: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.login-System-logo img {
    width: 360px !important;
    height: 120px !important;
}

.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 0px !important;
    margin-bottom: 0px;
    font-weight: 400;
    cursor: pointer;
}

.checkbox2 label, .radio label {
    min-height: 20px;
    padding-left: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px;
    font-weight: 400;
    cursor: pointer;
}

/*-- For Buttons on Table --*/
p.setfont {
    display: inline;
    font-size: 12px;
    font-family: sans-serif;
}

.btn-table-default {
    background-color: #f4f4f4;
    color: #ccc;
    border-color: #ccc;
}

.btn-table-default:hover,
.btn-table-default:focus,
.btn-table-default:active,
.btn-table-default.hover {
    background-color: #e7e7e7 !important;
}

/*-- For Button --*/
.btn-sm {
    margin-right: 3px !important;
}
.btn-create {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

.btn-create:hover,
.btn-create:focus,
.btn-create:active,
.btn-create.hover {
    background-color: #e7e7e7;
}

.btn-view {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

.btn-view:hover,
.btn-view:focus,
.btn-view:active,
.btn-view:hover {
    background-color: #e7e7e7;
}

.btn-edit {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

.btn-edit:hover,
.btn-edit:focus,
.btn-edit:active,
.btn-edit.hover {
    background-color: #e7e7e7;
}

.btn-delete {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

.btn-delete:hover,
.btn-delete:focus,
.btn-delete:active,
.btn-delete.hover {
    background-color: #e7e7e7;
}

.btn-save {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

.btn-save:hover,
.btn-save:focus,
.btn-save:active,
.btn-save.hover {
    background-color: #e7e7e7;
}

.btn-confirm {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-confirm:hover,
.btn-confirm:focus,
.btn-confirm:active,
.btn-confirm.hover {
    background-color: #e7e7e7;
}

.btn-cancel {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

.btn-cancel:hover,
.btn-cancel:focus,
.btn-cancel:active,
.btn-cancel.hover {
    background-color: #e7e7e7;
}

.btn-upload {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

.btn-upload:hover,
.btn-upload:focus,
.btn-upload:active,
.btn-upload.hover {
    background-color: #e7e7e7;
}

.btn-browse {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

.btn-browse:hover,
.btn-browse:focus,
.btn-browse:active,
.btn-browse.hover {
    background-color: #e7e7e7;
}

.btn-display {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

.btn-display:hover,
.btn-display:focus,
.btn-display:active,
.btn-display.hover {
    background-color: #e7e7e7;
}

.btn-search {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

.btn-search:hover,
.btn-search:focus,
.btn-search:active,
.btn-search.hover {
    background-color: #e7e7e7;
}

th input[type="checkbox"] {
    width: 17px;
    height: 17px;
}

td input[type="checkbox"] {
    width: 17px;
    height: 17px;
}

img.gridCheckbox {
    width: 15px;
    height: 15px;
}
